*.DS_Store
CLAUDE.md

#backend python
back/__pycache__
back/app/__pycache__
back/services/__pycache__
back/.env
back/services/gen-lang-client-0501326750-4f358317bac6.json

#front
front/node_modules/
front/sever/.env.development
front/server/.env.production
front/src/components/ContractAnalysis/DocumentViewerOld.tsx
front/dist/

#front proxy


#backend nodeJS
backNode/.env.production
backNode/.env.development
backNode/node_modules
backNode/prisma/migrations
backNode/prisma/generated
gpt5_tokens_log.json
