

#OPEN_AI SK
OPENAI_API_KEY=sk






VITE_HF_TOKEN=
VITE_HUGGINGFACE_TOKEN=

# Judilibre credentials
JUDI_CLIENT_ID=
JUDI_CLIENT_SECRET=
# Optionnel selon votre contrat PISTE
# JUDI_SCOPE=
# JUDI_AUDIENCE=
# Pour forcer un endpoint spécifique si différent chez vous
# JUDI_ENDPOINT=

# Legifrance credentials
LEGI_CLIENT_ID=
LEGI_CLIENT_SECRET=

# .env
# Clés pour l'API Légifrance via PISTE
VITE_LEGI_CLIENT_ID=
VITE_LEGI_CLIENT_SECRET=

# Mise à jour du chemin pour pointer vers la clé dans le dossier du projet
GOOGLE_APPLICATION_CREDENTIALS="chemin vers : gen-lang-client...."

# Clé API pour le frontend Vite/React (analyse côté client, etc.)
VITE_OPENAI_API_KEY=""