
#Exemple du fichier .env necessaire pour utiliser l'outil

#Serveur nodeJs
PORT="port du serveur nodejs"
HOST="http://localhost:port du backend"
HOST_FRONT="http://url du front"
NODE_ENV="dev"

#Connection dataBase
DATABASE_URL="mysql://USER:PASSWORD@localhost:PORT_DE_LA_BDD/NOM_DE_LA_TABLE"
DATABASE_USER="USER"
DATABASE_PASSWORD="PASSWORD"
DATABASE_HOST="localhost"
DATABASE_PORT="PORT_DE_LA_BDD"
DATABASE_NAME="NOM_DE_LA_TABLE"


#Google Auth
GOOGLE_REDIRECT_URI="liens du callback google redirection"
GOOGLE_CLIENT_ID="Google client ID"
GOOGLE_CLIENT_SECRET="Google client secret"


#Sécurité JWT
JWT_SECRET="Clef de verification de jsonWebToken"

#Sécurité APIKEY
INTERNAL_API_KEY="clef api interne"

#Mailer
MAILER_USER="adresse mail"
MAILER_PASS="password d'auth de l'adresse mail"


#Insee
INSEE_API_KEY="Clef api de insee  https://portail-api.insee.fr"


#Stripe
STRIPE_CLIENT=."pk.."
STRIPE_SK="sk..."